<html>
<body>
<meta name="viewport" content="width=500, initial-scale=1"> <!--This line of code is for mobile responsive -->
<div class="BorderMargin">
  <image src = '/images/LED.png' alt="LED" style="width:180px;height:180px;">

  <form action="/led/on" method="post">
    <button type="submit" onclick="alerton()" class="button">LED On </button>
      <button type="submit" onclick="alertoff()" formmethod="post" formaction="/led/off" class="button button3">LED Off</button>

  </form>



</div>
<script>
function alerton() {
alert("Led is ON now");  
}
function alertoff() {
 alert("Led is OFF now");
}

</script>
</body>
</html>